.wrapper {
   display: grid;
   grid-template-columns: repeat(4, minmax(250px, 1fr));
   gap: 10px;

   @media (max-width:1200px) {
      grid-template-columns: repeat(3, minmax(250px, 1fr));

   }
   @media (max-width:992px) {
      grid-template-columns: repeat(2, minmax(250px, 1fr));

   }
   @media (max-width:768px) {
      grid-template-columns: repeat(1, minmax(250px, 1fr));

   }
}

.wrapper app-cat-photo-card {
   margin-bottom: 10px;
}