footer {
   z-index: 999;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 60px;
   background-image: linear-gradient(to right, #4772ff, #f0f08c);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer h2 {
   margin: 0;
   color: #fff;
   font-size: 18px;
}

footer ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
}

footer li {
   margin-left: 20px;
   display: flex;
   align-items: center;

   @media (max-width:768px) {
      font-size: 14px;
      margin-left: 10px;
   }
}

footer li i.material-icons {
   font-size: 24px;
   color: #2097f3;
   margin-right: 8px;
   
   @media (max-width:768px) {
      font-size: 14px;
      margin-right: 3px;
   }
}

footer a,span {
   color: #2097f3;
   font-size: 16px;
   text-decoration: none;

   @media (max-width:768px) {
      font-size: 12px;
   }
}

h2 {
   @media (max-width:768px) {
      font-size: 14px !important;
      white-space: nowrap;
   }
}